<!DOCTYPE html>
<html lang="en" ng-app='ClothesShop'>
  <head>
    <meta charset="utf-8">
    <title>Clothes Shop</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/styling.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-flash-alert/dist/angular-flash.js"></script>
    <script src="js/app.js"></script>
    <script src='js/clothesShopController.js'></script>
    <script src="js/clothesShopFactory.js"></script>
  </head>

  <body ng-controller="ClothesShopController as ctrl">
    <div flash-message="5000" class="errors"></div> 
    <div class="cart">
      <h4>Shopping Cart:</h4>
      <p ng-hide="ctrl.list.cartList.length">Empty</p>
      <div ng-repeat="cartItems in ctrl.list.cartList track by $index">
        <p>{{cartItems.name}}
        £{{cartItems.price}}
        <button ng-click="ctrl.list.removeProduct(cartItems)" class="btn btn-warning removeProduct">Remove Product</button>
        </p>
      </div>
      <p>Total: {{ctrl.list.cartPrice}}</p>
      <p ng-show="ctrl.list.cartList.length" class="vouchers">
        Vouchers:<button id="voucher5" ng-click="ctrl.list.applyVoucher(5)" class="btn btn-success">£5</button>
        <button id="voucher10" ng-click="ctrl.list.applyVoucher(10)" class="btn btn-success">£10</button>
        <button id="voucher15" ng-click="ctrl.list.applyVoucher(15)" class="btn btn-success">£15</button>
      </p>
    </div>

    <br>
    <div class="list-group container" ng-repeat="(header,category) in ctrl.productList">
      <h3 class="row">{{header}}</h3>
      <ul class="Items row" ng-repeat="item in category">
        <li class="">
          {{item.name}}
          Price:
          {{item.price}}
          Quantity:
          {{item.quantity}}
          <img ng-src="{{item.image}}">
          <button ng-click="ctrl.list.addProduct(item)" class="btn btn-info productButton">Add to Cart</button>
        </li>
      </div>
      <br>
    </ul>
  </body>
</html>