<!DOCTYPE html>
<html lang="en" ng-app='ClothesShop'>
  <head>
    <meta charset="utf-8">
    <title>Clothes Shop</title>
    <link rel="stylesheet" href="css/reset.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src='js/clothesShopController.js'></script>
  </head>

  <body ng-controller="ClothesShopController as ctrl">
    <div class="cart">
      Shopping Cart: 
      <p ng-hide="ctrl.cartList.length">Empty</p>
      <div ng-repeat="cartItems in ctrl.cartList">
        <p>{{cartItems.name}}
        <button ng-click="ctrl.removeProduct(item)" class="btn removeProduct">Remove Product</button>
        </p>
      </div>
    </div>
    <br>
    <ul class="list-group" ng-repeat="category in ctrl.productList">
      <div>Category:</div>
      <ul class="Items" ng-repeat="item in category">
        <li>
          Product:
          <p>{{item.name}}</p>
          Price:
          {{item.price}}
          Quantity:
          {{item.quantity}}
          <button ng-click="ctrl.addProduct(item)" class="btn productButton">Add to Cart</button>
        </li>
        <br>
      </ul>
      <br>
    </ul>
  </body>
</html>